node_modules/
jspm_packages/
web_modules/
.npm
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.gz
.yarn/install-state.gz
.pnp.*
*.tgz
.lock-wscript

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.node_repl_history

pids
*.pid
*.seed
*.pid.lock

coverage
*.lcov
.nyc_output
lib-cov

.cache
.parcel-cache
.eslintcache
.stylelintcache
*.tsbuildinfo
.temp

dist

.env
.env.*
!.env.example

.firebase/
firebase-debug.log
.runtimeconfig.json

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/capacitor-cordova-android-plugins/
android/.idea/
*.iml

android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json

*.keystore
*.jks
keystore.properties

.vscode-test
.DS_Store
Thumbs.db